/* @import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap"); */
@import "tailwindcss";

@font-face {
  font-family: "Germania One";
  src: url("./assets/GermaniaOne-Regular.ttf");
  font-display: swap;
}

@theme {
  --primary: #762929;
  --secondary: #94b6e7;

  /* --spacing: 1px; */
  --color-primary: var(--primary);
  --color-secondary: #94b6e7;
  --breakpoint-uw: 2048px;
  --font-germania: "Germania One", serif;
}

@layer base {
  * {
    @apply font-germania;
  }
  body {
    margin: 0;
    /* background-color: var(--primary); */
  }
}

@layer components {
  .kelas {
    background-color: red;
  }
}

@utility my-border {
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

@utility my-border-* {
  @apply border-2 border-dashed;
  border-color: --value(--color-*);
  border-color: --value([color]);
  @variant focus {
    outline: none;
  }
}
